* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #303030;
    /* transition: 1s; */
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 1rem;
    color: #fff;
}

.container {
    width: 300px;
}

.result {
    width: 73.1%;
}

input {
    padding: 25px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    width: 70px;
    background-color: #2b2b2b;
    border: none;
    outline: none;
    border-radius: 4px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5 {
    margin-bottom: 5px;
}

footer {
    margin-top: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

footer img {
    width: 30px;
    height: auto;
}

footer a {
    text-decoration: none;
}

footer button {
    width: 90px;
    height: 55px;
    padding: 10px;
    background-color: #fff;
    /* border-radius: 10%; */
    border-style: none;
    cursor: pointer;
}

footer button span {
    font-weight: 500;
    padding-left: 3px;
}

footer button:hover {
    color: #ff8585;
    border-radius: 15%;
    width: 135px;
    height: 55px;

    transition: 1s;
}

footer button {
    display: flex;
    justify-content: center;
    align-items: center;
}
